.login-popup {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
}

.login-popup-container {
    place-self: center;
    width: max(23vw,330px);
    color: white;
    background: rgba(0, 128, 0, 0.558);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(238, 255, 0);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-popup-title i {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.login-popup-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px ;
    border-radius: 4px;
}

.login-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: green;
    background: white;
    font-size: 15px;
    cursor: pointer;

}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input {
    margin-top: 5px;

}

.login-popup p span {
    color: rgb(212, 255, 0);
    cursor: pointer;
    font-weight: 500;
}